@model simplemeet.Models.Topic

@{
    ViewData["Title"] = @Model.Title + "- details";
}

<partial name="_toastr" />
<div class="row mt-5">
    <div class="col-7">
        <div class="card">
            <div class="card-body">
                <div class="text-end">
                    <a class="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-circle-chevron-left"></i> go back to main page</a>
                </div>
            <div class="row mt-1">
                <div class="col-10">
                    <h1>@Model.Title</h1> 
                    <p>@Model.Creator.Name</p>
                    <p>@getTimeLeft(Model.EndTime)</p>
                </div>
                <div class="col-2 text-center">
                    <img src="@Url.Content("~/profile_images/" + Model.Creator!.ProfileImage)" class="rounded" width="100" height="100">
                    <a class="btn btn-primary mt-1" asp-controller="Topics" asp-action="Edit" asp-route-id="@Model.Id">edit</a>
                    <a class="btn btn-danger mt-1" asp-controller="Topics" asp-action="Delete" asp-route-id="@Model.Id">delete</a>

                </div>
                <div class="info">
                    <span><i class="fa-solid fa-lock-open"></i> open date: @Model.StartTime</span>
                    <br>
                    <span><i class="fa-solid fa-lock"></i> closed date: @Model.EndTime</span>

                </div>
        
            </div>
            <hr>
            <p>@Model.Content</p>
            <div class="text-center">
                <button type="button" class="btn btn-success"><i class="fa-regular fa-thumbs-up"></i>yes</button>
                <button type="button" class="btn btn-danger"><i class="fa-regular fa-thumbs-down"></i> no</button>
            </div>
        </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h3>comments</h3>
                @foreach(var comment in @Model.Comments)
                {
                <div class="card p-3">
                    <div class="text-end">
                        <div class="user d-flex flex-row align-items-center">
                            <img src="@Url.Content("~/profile_images/" + @comment.User!.ProfileImage)" width="45" class="user-img rounded-circle mr-2">
                            <span><small class="font-weight-bold text-primary">deniz aytac</small> 
                            <br>
                            <small class="font-weight-bold">@comment.Content</small></span>
                        </div>
                        @if(ViewBag.LoggedInUserEmail == comment.User.EmailAddress)
                        {
                            <a class="btn btn-sm btn-light shadow-sm ml-1 mb-1 float-right" asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id"><small>Remove</small></a>
                        }

                    <small>20 minutes ago</small>
                    </div>
                </div>
                }
                <hr>
                <form method="POST">
                    <div class="form-group">
                       <textarea name="Text" class="form-control" id="Text" rows="3"></textarea>
                    </div>
                    <br />
                    <div class="text-end">
                        <button asp-controller="Comments" asp-action="Post" asp-route-id="@Model.Id" type="submit" class="btn btn-sm btn-primary float-right">Post comment <i class="fa-solid fa-share"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@functions{

    public static String getTimeLeft(DateTime dateTime)
    {
        string result = string.Empty;
        var timeSpan = dateTime.Subtract(DateTime.Now);
        if (timeSpan <= TimeSpan.FromSeconds(0))
        {
            result = "this issue is closed";
        }

        else if (timeSpan <= TimeSpan.FromSeconds(60))
        {
            result = string.Format("{0} seconds left", timeSpan.Seconds);
        }
        else if (timeSpan <= TimeSpan.FromMinutes(60))
        {
            result = String.Format("{0} minutes left", timeSpan.Minutes);
        }
    else if (timeSpan <= TimeSpan.FromHours(24))
    {
        result = timeSpan.Hours > 1 ? 
            String.Format("{0} hours left", timeSpan.Hours) : 
            "an hour left";
    }
    else if (timeSpan <= TimeSpan.FromDays(30))
    {
        result = timeSpan.Days > 1 ? 
            String.Format("{0} days left", timeSpan.Days) : 
            "one day left";
    }
    else if (timeSpan <= TimeSpan.FromDays(365))
    {
        result = timeSpan.Days > 30 ? 
            String.Format("{0} months left", timeSpan.Days / 30) : 
            "a month left";
    }
    else
    {
        result = timeSpan.Days > 365 ? 
            String.Format("{0} years left", timeSpan.Days / 365) : 
            "a year left";
    }
    return result;
    }
}